<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="com.springcore.lifecycle.Department" name="d1" init-method="init" destroy-method="destroy">
<property name="dname" value="Marketing Department"></property>
</bean>

<bean class="com.springcore.lifecycle.Emp" name="e1">
	<property name="salary" value="5000"></property>
</bean>

<bean class = "com.springcore.lifecycle.Example" name = "ex1">
<property name="sub" value="java enterprise"></property>
</bean>
</beans>